<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>show-result</string>
			<key>Image File</key>
			<string>shanbei.png</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>index.php</string>
			<key>Title</key>
			<string>Shanbei 翻译</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,200}$</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>英-&gt;中: 翻译</string>
	<key>Extension Identifier</key>
	<string>com.popclip.extension.shanbei-translate</string>
	<key>Extension Name</key>
	<string>Shanbei Translate</string>
</dict>
</plist>
